/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
:root {
    --primary-color: #6B0100;
    --secondary-color: #FFE5DA;
    --font-color: #0b0b0b;
    --white-color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--font-color);
}